<!DOCTYPE html>
<html>

<body>
  <h1>Time Consumption</h1>
  <h2>CRC Start</h2>
  <p>average time of crc Start by Platform</p>
  <table border="1" cellpadding="5">
    <tr>
      <th>Platform</th>
      <th>Average time of CRC start(s)</th>

    </tr>
    {% for row in timeData['platform']['start'] %}
    <tr>
      <td>{{ row.category }}</td>
      <td>{{ row['time-start'] }}</td>
    </tr>
    {% endfor %}
  </table>
  <img src="time-start.png" alt="time-start plot">
  <p>average time of crc Start by platform and bundle</p>
  <table border="1" cellpadding="5">
    <tr>
      <th>crc start by bundle </th>
      {% for row in timeData['bundle']['start']['darwin-amd64'] %}
      <th>{{ row.bundle }}</th>
      {% endfor %}
    </tr>
    {% for name, info in timeData['bundle']['start'].items() %}
    <tr>
      <td>{{ name }}</th>
        {% for row in info %}
      <td>{{ row['time-start'] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <h2>CRC Stop</h2>
  <p>average time of crc stop by Platform</p>
  <table border="1" cellpadding="5">
    <tr>
      <th>Platform</th>
      <th>Average time of CRC stop(s)</th>
    </tr>
    {% for row in timeData['platform']['stop'] %}
    <tr>
      <td>{{ row.category }}</td>
      <td>{{ row['time-stop'] }}</td>
    </tr>
    {% endfor %}
  </table>
  <img src="time-stop.png" alt="time-start plot">
  <p>average time of crc stop by platform and bundle</p>
  <table border="1" cellpadding="5">
    <tr>
      <th>crc stop by bundle </th>
      {% for row in timeData['bundle']['stop']['darwin-amd64'] %}
      <th>{{ row.bundle }}</th>
      {% endfor %}
    </tr>
    {% for name, info in timeData['bundle']['stop'].items() %}
    <tr>
      <td>{{ name }}</th>
        {% for row in info %}
      <td>{{ row['time-stop'] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <h1>Memory Consumption</h1>
  <h2>CRC start</h2>
  <table border="1" cellpadding="5">
    <tr>
      <th>Platform</th>
      <th>Average Memory consume(Mib)</th>
    </tr>
    {% for row in memoryData['platform']['start'] %}
    <tr>
      <td>{{ row.category }}</td>
      <td>{{ "%.2f"|format(row['memory-start']) }}</td>
    </tr>
    {% endfor %}
  </table>
  <img src="memory-start.png" alt="time-start plot">
  <p>average memroy consume of crc start by platform and bundle</p>
  <table border="1" cellpadding="5">
    <tr>
      <th>crc start by bundle </th>
      {% for row in memoryData['bundle']['start']['darwin-amd64'] %}
      <th>{{ row.bundle }}</th>
      {% endfor %}
    </tr>
    {% for name, info in memoryData['bundle']['start'].items() %}
    <tr>
      <td>{{ name }}</th>
        {% for row in info %}
      <td>{{ "%.2f"|format(row['memory-start']) }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <h2>Deployment</h2>
  <table border="1" cellpadding="5">
    <tr>
      <th>Platform</th>
      <th>Average Memory consume(Mib)</th>
    </tr>
    {% for row in memoryData['platform']['deployment'] %}
    <tr>
      <td>{{ row.category }}</td>
      <td>{{ "%.2f"|format(row['memory-deployment']) }}</td>
    </tr>
    {% endfor %}
  </table>
  <img src="memory-deployment.png" alt="time-start plot">
  <p>average memroy consume of deployment by platform and bundle</p>
  <table border="1" cellpadding="5">
    <tr>
      <th>crc start by bundle </th>
      {% for row in memoryData['bundle']['deployment']['darwin-amd64'] %}
      <th>{{ row.bundle }}</th>
      {% endfor %}
    </tr>
    {% for name, info in memoryData['bundle']['deployment'].items() %}
    <tr>
      <td>{{ name }}</th>
        {% for row in info %}
      <td>{{ "%.2f"|format(row['memory-deployment']) }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>


  <h2>CRC stop</h2>
  <table border="1" cellpadding="5">
    <tr>
      <th>Platform</th>
      <th>Average Memory consume(Mib)</th>
    </tr>
    {% for row in memoryData['platform']['stop'] %}
    <tr>
      <td>{{ row.category }}</td>
      <td>{{ "%.2f"|format(row['memory-stop']) }}</td>
    </tr>
    {% endfor %}
  </table>
  <img src="memory-stop.png" alt="time-start plot">
  <p>average memroy consume of crc stop by platform and bundle</p>
  <table border="1" cellpadding="5">
    <tr>
      <th>crc start by bundle </th>
      {% for row in memoryData['bundle']['stop']['darwin-amd64'] %}
      <th>{{ row.bundle }}</th>
      {% endfor %}
    </tr>
    {% for name, info in memoryData['bundle']['stop'].items() %}
    <tr>
      <td>{{ name }}</th>
        {% for row in info %}
      <td>{{ "%.2f"|format(row['memory-stop']) }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

</body>

</html>